<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xtrachat">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="xTraChat"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.chats.ChatsActivity"></activity>
        <activity android:name=".view.contact.ContactsActivity" />
        <activity android:name=".view.profile.ProfileActivity" />
        <activity android:name=".view.settings.SettingsActivity" />
        <activity android:name=".view.auth.SetUserInfoActivity" />
        <activity android:name=".view.auth.PhoneLoginActivity" />
        <activity android:name=".view.startup.WelcomeScreenActivity" />
        <activity android:name=".view.startup.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity" />
    </application>

</manifest>